{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'mainapp/img/logo.png' %}" alt="Logo" width="40" height="40">
            </a>
        </div>
        <div class="buttons">
            <button class="mobile_internet-button" onclick="redirectToCategory('mobile_internet')">МОБИЛЬНЫЙ ИНТЕРНЕТ</button>
            <button class="WIFI-button" onclick="redirectToCategory('wifi')">WiFi</button>
            <button class="WIFI+TV-button" onclick="redirectToCategory('wifi_tv')">WiFi+TV</button>
    </div>
    <div class="profile-button">
        <button class="profile-button" onclick="window.location.href='/profile/'" >
            <img src="{% static 'mainapp/img/icon-profile.png' %}" alt="Иконка профиля">
            <span>Личный кабинет</span>
        </button>
    </div>
    </header>
    <div class = "slogan">
        Мы - СКОРОСТЬ! (кчау)
    </div>

    <script>
    function redirectToCategory(category) {
        var url;
            // Определяем URL в зависимости от выбранной категории
            if (category === 'mobile_internet') {
                url = '{% url 'mobile_internet' %}';
            } else if (category === 'wifi') {
                url = '{% url 'wifi' %}';
            } else if (category === 'wifi_tv') {
                url = '{% url 'wifi_tv' %}';
            }

            // Перенаправляем на соответствующую страницу
            window.location.href = url;
        }
    </script>


    <main>

        <section class="block1">
            <div class="banner-container">
                <div class="banner">
                    <img src="{% static 'mainapp/img/banerPic1.png' %}" alt="Image 1">
                    <img src="{% static 'mainapp/img/banerPic2.png' %}" alt="Image 2">
                    <img src="{% static 'mainapp/img/banerPic3.png' %}" alt="Image 3">
                    <img src="{% static 'mainapp/img/banerPic1.png' %}" alt="Image 1">
                    <img src="{% static 'mainapp/img/banerPic2.png' %}" alt="Image 2">
                    <img src="{% static 'mainapp/img/banerPic3.png' %}" alt="Image 3">
                </div>
            </div>
            <script>
                let banner = document.querySelector('.banner');
                let images = document.querySelectorAll('.banner img');

                let currentPosition = 0;
                let speed = 1; // Скорость прокрутки

                function scrollImages() {
                    currentPosition -= speed;
                    if (currentPosition <= -310) {
                        currentPosition = 0;
                        banner.style.transition = 'none'; // Убираем переход для мгновенной смены позиции
                    } else {
                        banner.style.transition = 'transform 1s linear'; // Восстанавливаем переход
                    }
                    banner.style.transform = `translateX(${currentPosition}px)`;
                }

                setInterval(scrollImages, 50); // Изменение позиции каждые 50 миллисекунд
            </script>



        </section>

        <section class="block2">
            <h2 class="h2service">Популярные тарифы</h2>
            {% for service in services|slice:":3" %}
                <div class="service-cards">
                    <div class="service-card">
                        <div class="service-name">
                            <p>{{ service.name }}</p>
                        </div>
                        <div class="service-description">
                            <p>{{ service.description |linebreaks }}</p>
                        </div>
                        <div class="price">
                            <p>Цена: {{ service.price }} сом</p>
                        </div>
                        <button class="details-button" onclick="window.location.href='{% url 'service_detail' service.id %}'">Подробнее</button>
                    </div>
            {% endfor %}
                </div>
        </section>

        <section class="block3">
            <div class="banner2">
                <img src="{{ banner_image }}" alt="Banner Image">
            </div>
        </section>

        <h2 class="h2block4">Категории услуг</h2>
        <section class="block4">

            <div class="category-card">
                <h2>Mobile Internet</h2>
            </div>
            <div class="category-card">
                <h2>Wi-Fi</h2>
            </div>
            <div class="category-card">
                <h2>Wi-Fi + TV</h2>
            </div>
        </section>
    </main>


</body>
</html>
