{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'mainapp/img/logo.png' %}" alt="Logo" width="40" height="40">
            </a>
        </div>
        <div class="buttons">
            <button class="mobile_internet-button" onclick="redirectToCategory('mobile_internet')">МОБИЛЬНЫЙ ИНТЕРНЕТ</button>
            <button class="WIFI-button" onclick="redirectToCategory('wifi')">WiFi</button>
            <button class="WIFI+TV-button" onclick="redirectToCategory('wifi_tv')">WiFi+TV</button>
    </div>
    <div class="profile-button">
        <button class="profile-button" onclick="window.location.href='/profile/'" >
            <img src="{% static 'mainapp/img/icon-profile.png' %}" alt="Иконка профиля">
            <span>Личный кабинет</span>
        </button>
    </div>
    </header>
    <div class = "slogan">
        Мы - СКОРОСТЬ! (кчау)
    </div>

    <script>
    function redirectToCategory(category) {
        var url;
            // Определяем URL в зависимости от выбранной категории
            if (category === 'mobile_internet') {
                url = '{% url 'mobile_internet' %}';
            } else if (category === 'wifi') {
                url = '{% url 'wifi' %}';
            } else if (category === 'wifi_tv') {
                url = '{% url 'wifi_tv' %}';
            }

            // Перенаправляем на соответствующую страницу
            window.location.href = url;
        }
    </script>


    <main>

        <section class="block1">
            <div class="banner-container">
                <div class="banner">
                    <img src="{% static 'mainapp/img/banerPic1.png' %}" alt="Image 1">
                    <img src="{% static 'mainapp/img/banerPic2.png' %}" alt="Image 2">
                    <img src="{% static 'mainapp/img/banerPic3.png' %}" alt="Image 3">
                    <img src="{% static 'mainapp/img/banerPic1.png' %}" alt="Image 1">
                    <img src="{% static 'mainapp/img/banerPic2.png' %}" alt="Image 2">
                    <img src="{% static 'mainapp/img/banerPic3.png' %}" alt="Image 3">
                    <img src="{% static 'mainapp/img/banerPic1.png' %}" alt="Image 1">
                    <img src="{% static 'mainapp/img/banerPic2.png' %}" alt="Image 2">
                    <img src="{% static 'mainapp/img/banerPic3.png' %}" alt="Image 3">
                    <img src="{% static 'mainapp/img/banerPic1.png' %}" alt="Image 1">
                    <img src="{% static 'mainapp/img/banerPic2.png' %}" alt="Image 2">
                    <img src="{% static 'mainapp/img/banerPic3.png' %}" alt="Image 3">
                </div>
            </div>




        </section>

        <section class="block2">
            <h2 class="h2service">Популярные тарифы</h2>
            {% for service in services|slice:":3" %}
                <div class="service-cards">
                    <div class="service-card">
                        <div class="service-name">
                            <p>{{ service.name }}</p>
                        </div>
                        <div class="service-description">
                            <p>{{ service.description |linebreaks }}</p>
                        </div>
                        <div class="price">
                            <p>Цена: {{ service.price }} сом</p>
                        </div>
                        <button class="details-button" onclick="window.location.href='{% url 'service_detail' service.id %}'">Подробнее</button>
                    </div>
            {% endfor %}
                </div>
        </section>

        <section class="block3">
            <div class="banner2">
                <img src="{{ banner_image }}" alt="Banner Image">
            </div>
        </section>


    </main>

<footer>
    <div class="footer-content">
        <div class="footer-text">
            <p>© 2024, «DriveCom»™, ПИ(б)4-22. Все права защищены.
            Лицензии ГАС при ГКИТиС КР:
            ООО «ПИ(б)4-22»: №16-0062-КР от 06.12.2016, №16-0063-КР от 06.12.2016, №14-1124-КР от 03.12.2014, №15-1448-КР от 01.10.2015, №15-1469-КР от 02.11.2015, №16-0088-КР от 27.12.2016, №18-0318-КР от 14.06.2018, №18-0294-КР от 06.04.2018, №18-0297-КР от 06.04.2018, №21-0470-КР от 17.06.2021.
            ЗАО «ПРАКТИКА»: №16-0019-КР от 04.08.2016, №03-292-КР от 24.11.2003, №14-1103-КР от 30.10.2014, №14-1168-КР от 31.12.2014.
            </p>
            <p>Телеканалы, содержание и контент в рамках услуги GosTV предоставляется ОсОО «». В рамках услуги «RayanGosling!Кино» контент предоставляется онлайн-кинотеатром Манас посредством технических ресурсов ОсОО «ПИ(б)4-22» и ОсОО «АтайАлиртай». В рамках услуги «DRIVE» доступ к контенту предоставляется онлайн видеосервисом DRIVE.KG посредством технических ресурсов ОсОО «ПИ(б)4-22», ОсОО «ТимаCompany» и ООО «FlyanGolsing.com».</p>
        </div>
    </div>
</footer>

</body>




</html>
