{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile internet page</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/category.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'mainapp/img/logo.png' %}" alt="Logo" width="40" height="40">
            </a>
        </div>
        <div class="buttons">
            <button class="mobile_internet-button" onclick="redirectToCategory('mobile_internet')">МОБИЛЬНЫЙ ИНТЕРНЕТ</button>
            <button class="WIFI-button" onclick="redirectToCategory('wifi')">WiFi</button>
            <button class="WIFI+TV-button" onclick="redirectToCategory('wifi_tv')">WiFi+TV</button>
    </div>
    <div class="profile-button">
        <button class="profile-button" onclick="window.location.href='/profile/'" >
            <img src="{% static 'mainapp/img/icon-profile.png' %}" alt="Иконка профиля">
            <span>Личный кабинет</span>
        </button>
    </div>
    </header>
    <div class = "slogan">
        Мы - СКОРОСТЬ! (кчау)
    </div>

    <script>
    function redirectToCategory(category) {
        var url;
            // Определяем URL в зависимости от выбранной категории
            if (category === 'mobile_internet') {
                url = '{% url 'mobile_internet' %}';
            } else if (category === 'wifi') {
                url = '{% url 'wifi' %}';
            } else if (category === 'wifi_tv') {
                url = '{% url 'wifi_tv' %}';
            }

            // Перенаправляем на соответствующую страницу
            window.location.href = url;
        }
    </script>

<section class="block2">
    <h2 class="h2service">Тарифы категории Мобильный интернет</h2>
    <div class="service-cards"> <!-- Перемещаем открывающий тег перед циклом -->
        {% for service in services %}
        <div class="service-card">
            <div class="service-name">
                <p>{{ service.name }}</p>
            </div>
            <div class="service-description">
                <p>{{ service.description |linebreaks }}</p>
            </div>
            <div class="price">
                <p>Цена: {{ service.price }} сом</p>
            </div>
            <button class="details-button" onclick="window.location.href='{% url 'service_detail' service.id %}'">Подробнее</button>
        </div>
        {% endfor %}
    </div> <!-- Перемещаем закрывающий тег после цикла -->
</section>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<footer>
    <div class="footer-content">
        <div class="footer-text">
            <p>© 2024, «DriveCom»™, ПИ(б)4-22. Все права защищены.
            </p>
            <p>Телеканалы, содержание и контент в рамках услуги GosTV предоставляется ОсОО «». В рамках услуги «RayanGosling!Кино» контент предоставляется онлайн-кинотеатром Манас посредством технических ресурсов ОсОО «ПИ(б)4-22» и ОсОО «АтайАлиртай». В рамках услуги «DRIVE» доступ к контенту предоставляется онлайн видеосервисом DRIVE.KG посредством технических ресурсов ОсОО «ПИ(б)4-22», ОсОО «ТимаCompany» и ООО «FlyanGolsing.com».</p>
        </div>
        <div class="contact-info">
            <p>Для связи:</p>
            <p><i class="fab fa-whatsapp"></i> WhatsApp: <a href="https://wa.me/+996552527370" target="_blank">+996552527370</a></p>
            <p><i class="fab fa-instagram"></i> Instagram: <a href="https://instagram.com/tima_drobovik" target="_blank">Каримов Тимурлан</a></p>
            <p><i class="far fa-envelope"></i> Gmail: <a href="mailto:youremail@gmail.com">Каримов Тимурлан</a></p>
            <p><i class="fab fa-telegram-plane"></i> Telegram: <a href="https://t.me/whammbamm" target="_blank">Каримов Тимурлан</a></p>
        </div>
    </div>
</footer>

</body>



</html>