{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/profile.css' %}">
    <script src="{% static 'mainapp/js/profile.js' %}"></script>
</head>
<body>
<header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'mainapp/img/logo.png' %}" alt="Logo" width="40" height="40">
            </a>
        </div>
        <div class="buttons">
            <button class="mobile_internet-button" onclick="redirectToCategory('mobile_internet')">МОБИЛЬНЫЙ ИНТЕРНЕТ</button>
            <button class="WIFI-button" onclick="redirectToCategory('wifi')">WiFi</button>
            <button class="WIFI+TV-button" onclick="redirectToCategory('wifi_tv')">WiFi+TV</button>
    </div>
    <div class="profile-button">
        <button class="profile-button" onclick="window.location.href='{% url 'logout' %}?next=/profile/'">
            <span>Выход</span>
        </button>
    </div>

        <script>
    function redirectToCategory(category) {
        var url;
            // Определяем URL в зависимости от выбранной категории
            if (category === 'mobile_internet') {
                url = '{% url 'mobile_internet' %}';
            } else if (category === 'wifi') {
                url = '{% url 'wifi' %}';
            } else if (category === 'wifi_tv') {
                url = '{% url 'wifi_tv' %}';
            }

            // Перенаправляем на соответствующую страницу
            window.location.href = url;
        }
    </script>

    </header>
    <div class = "slogan">
        Мы - СКОРОСТЬ! (кчау)
    </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<main>
    <!-- Карточка профиля -->
    <section class="profile-card">
    <div class="hello-user">
        <h3>Здравствуйте,</h3>
        <h1>{{ userprofile.user.username }}</h1>
    </div>
    <div class="profile-details">
        {% if userprofile.user.email %}
            <p><i class="fas fa-envelope"></i> Email</p>
            <span>{{ userprofile.user.email }}</span>
        {% endif %}
        {% if userprofile.phone_number %}
            <p><i class="fas fa-phone"></i> Номер телефона </p>
            <span>{{ userprofile.phone_number }}</span>
        {% endif %}
        {% if userprofile.address %}
            <p><i class="fas fa-home"></i> Адрес </p>
            <span>{{ userprofile.address }}</span>
        {% endif %}
    </div>
</section>

    <!-- Заявки на услуги -->
<section class="service-requests">
    <h2 class="h2service">Заявки на услуги</h2>
    {% if service_requests %}
        <div class="request-cards">
            {% for request in service_requests %}
            <div class="request-card">
                <div class="request-name">
                    <p>{{ request.name }}</p>
                </div>
                <div class="request-description">
                    <p>{{ request.description |linebreaks }}</p>
                </div>
                <div class="price">
                    <p>Цена: {{ request.price }} сом</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-requests">
            <p>У вас пока нет заявок на услуги.</p>
        </div>
    {% endif %}
</section>
</main>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<footer>
    <div class="footer-content">
        <div class="footer-text">
            <p>© 2024, «DriveCom»™, ПИ(б)4-22. Все права защищены.
            </p>
            <p>Телеканалы, содержание и контент в рамках услуги GosTV предоставляется ОсОО «». В рамках услуги «RayanGosling!Кино» контент предоставляется онлайн-кинотеатром Манас посредством технических ресурсов ОсОО «ПИ(б)4-22» и ОсОО «АтайАлиртай». В рамках услуги «DRIVE» доступ к контенту предоставляется онлайн видеосервисом DRIVE.KG посредством технических ресурсов ОсОО «ПИ(б)4-22», ОсОО «ТимаCompany» и ООО «FlyanGolsing.com».</p>
        </div>
        <div class="contact-info">
            <p>Для связи:</p>
            <p><i class="fab fa-whatsapp"></i> WhatsApp: <a href="https://wa.me/+996552527370" target="_blank">+996552527370</a></p>
            <p><i class="fab fa-instagram"></i> Instagram: <a href="https://instagram.com/tima_drobovik" target="_blank">Каримов Тимурлан</a></p>
            <p><i class="far fa-envelope"></i> Gmail: <a href="mailto:youremail@gmail.com">Каримов Тимурлан</a></p>
            <p><i class="fab fa-telegram-plane"></i> Telegram: <a href="https://t.me/whammbamm" target="_blank">Каримов Тимурлан</a></p>
        </div>
    </div>
</footer>

</body>



</html>
