{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/profile.css' %}">
    <script src="{% static 'mainapp/js/profile.js' %}"></script>
</head>
<body>
<header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'mainapp/img/logo.png' %}" alt="Logo" width="40" height="40">
            </a>
        </div>
        <div class="buttons">
            <button class="mobile_internet-button" onclick="redirectToCategory('mobile_internet')">МОБИЛЬНЫЙ ИНТЕРНЕТ</button>
            <button class="WIFI-button" onclick="redirectToCategory('wifi')">WiFi</button>
            <button class="WIFI+TV-button" onclick="redirectToCategory('wifi_tv')">WiFi+TV</button>
    </div>
    <div class="profile-button">
        <button class="profile-button" onclick="window.location.href='{% url 'logout' %}?next=/profile/'">
            <span>Выход</span>
        </button>
    </div>

        <script>
    function redirectToCategory(category) {
        var url;
            // Определяем URL в зависимости от выбранной категории
            if (category === 'mobile_internet') {
                url = '{% url 'mobile_internet' %}';
            } else if (category === 'wifi') {
                url = '{% url 'wifi' %}';
            } else if (category === 'wifi_tv') {
                url = '{% url 'wifi_tv' %}';
            }

            // Перенаправляем на соответствующую страницу
            window.location.href = url;
        }
    </script>

    </header>
    <div class = "slogan">
        Мы - СКОРОСТЬ! (кчау)
    </div>

<main>
    <!-- Карточка профиля -->
    <section class="profile-card">
        <div class="hello-user">
            <h3>Здравствуйте,  </h3>
            <h1 >{{ userprofile.user.username }}</h1>
        </div>
        <div class="profile-details">
            {% if userprofile.user.email %}
                <p>Email</p>
                <span>{{ userprofile.user.email }}</span>
            {% endif %}
            {% if userprofile.phone_number %}
                <p>Номер телефона </p>
                <span>{{ userprofile.phone_number }}</span>
            {% endif %}
            {% if userprofile.address %}
                <p>Адрес </p>
                <span>{{ userprofile.address }}</span>
            {% endif %}
        </div>
    </section>

    <!-- Заявки на услуги -->
<section class="service-requests">
    <h2 class="h2service">Заявки на услуги</h2>
    {% if service_requests %}
        <div class="request-cards">
            {% for request in service_requests %}
            <div class="request-card">
                <div class="request-name">
                    <p>{{ request.name }}</p>
                </div>
                <div class="request-description">
                    <p>{{ request.description |linebreaks }}</p>
                </div>
                <div class="price">
                    <p>Цена: {{ request.price }} сом</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-requests">
            <p>У вас пока нет заявок на услуги.</p>
        </div>
    {% endif %}
</section>
</main>


<footer>
    <div class="footer-content">
        <div class="footer-text">
            <p>© 2024, «DriveCom»™, ПИ(б)4-22. Все права защищены.
            Лицензии ГАС при ГКИТиС КР:
            ООО «ПИ(б)4-22»: №16-0062-КР от 06.12.2016, №16-0063-КР от 06.12.2016, №14-1124-КР от 03.12.2014, №15-1448-КР от 01.10.2015, №15-1469-КР от 02.11.2015, №16-0088-КР от 27.12.2016, №18-0318-КР от 14.06.2018, №18-0294-КР от 06.04.2018, №18-0297-КР от 06.04.2018, №21-0470-КР от 17.06.2021.
            ЗАО «ПРАКТИКА»: №16-0019-КР от 04.08.2016, №03-292-КР от 24.11.2003, №14-1103-КР от 30.10.2014, №14-1168-КР от 31.12.2014.
            </p>
            <p>Телеканалы, содержание и контент в рамках услуги GosTV предоставляется ОсОО «». В рамках услуги «RayanGosling!Кино» контент предоставляется онлайн-кинотеатром Манас посредством технических ресурсов ОсОО «ПИ(б)4-22» и ОсОО «АтайАлиртай». В рамках услуги «DRIVE» доступ к контенту предоставляется онлайн видеосервисом DRIVE.KG посредством технических ресурсов ОсОО «ПИ(б)4-22», ОсОО «ТимаCompany» и ООО «FlyanGolsing.com».</p>
        </div>
    </div>
</footer>

</body>



</html>
