{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/profile.css' %}">
</head>
<body>
<header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'mainapp/img/logo.png' %}" alt="Logo" width="40" height="40">
            </a>
        </div>
        <div class="buttons">
            <button class="mobile_internet-button">МОБИЛЬНЫЙ ИНТЕРНЕТ</button>
            <button class="WIFI-button">WiFi</button>
            <button class="WIFI+TV-button">WiFi+TV</button>
    </div>
    <div class="profile-button">
        <button class="profile-button" onclick="window.location.href='{% url 'logout' %}?next=/profile/'">
            <span>Выход</span>
        </button>
    </div>

    </header>
    <div class = "slogan">
        Мы - СКОРОСТЬ! (кчау)
    </div>

<main>
    <!-- Карточка профиля -->
    <section class="profile-card">
        <div class="profile-details">
            <h2>{{ userprofile.user.username }}</h2>
            {% if userprofile.user.email %}
                <p>Email: {{ userprofile.user.email }}</p>
            {% endif %}
            {% if userprofile.phone_number %}
                <p>Номер телефона: {{ userprofile.phone_number }}</p>
            {% endif %}
            {% if userprofile.address %}
                <p>Адрес: {{ userprofile.address }}</p>
            {% endif %}
        </div>
    </section>

    <!-- Заявки на услуги -->
    <section class="service-requests">
        <h2>Заявки на услуги</h2>
        {% if service_requests %}
            <ul>
                {% for request in service_requests %}
                    <li>{{ request.name }}</li>
                    <!-- Другие данные заявки -->
                {% endfor %}
            </ul>
        {% else %}
            <p>У вас пока нет заявок на услуги.</p>
        {% endif %}
    </section>
</main>

</body>
</html>
