/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

/* Main section styles */
main {
    padding: 20px;
}

/* Block 1 styles */
.block1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрируем карточки */
    margin-bottom: 20px;
}

.big-card {
    height: 260px;
    width: 600px;
    margin: 0 10px 20px; /* Расстояние между карточками */
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.big-card img {
    max-width: 100%;
    border-radius: 8px;
}

.small-cards {
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Расстояние между большой и маленькими карточками */
}

.small-card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 120px;
}

.small-card img {
    max-width: 100%;
    border-radius: 20px;
}

/* Block 2 styles */
.block2 {
    margin-bottom: 20px;

}
.h2service {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    justify-content: center;
}

.service-card {
    height: 280px;
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.service-card h2 {
    margin-bottom: 10px;
}

.service-card p  {
    margin-bottom: 15px;
}

/* Block 3 styles */
.block3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.banner {
    height: 100px;
    width: 1000px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner img {
    max-width: 100%;
    border-radius: 20px;
}

/* Block 4 styles */
.block4 {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.h2block4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-card {
    text-align: center;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}


