/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #E4E5EA;
    color: #333;
}


/* Header styles */
header {
    background-color: #16354d;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

/* Main section styles */
main {
    padding: 20px;
}

/* Block 1 styles */
.block1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрируем карточки */
    margin-bottom: 20px;
}

.big-card {
    height: 260px;
    width: 600px;
    margin: 0 10px 20px; /* Расстояние между карточками */
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Добавим относительное позиционирование */
    overflow: hidden; /* Скрытие избыточного контента */
}

.big-card img {
    width: 100%; /* Сделать изображение шириной 100% относительно родительского элемента */
    height: 100%; /* Сделать изображение высотой 100% относительно родительского элемента */
    border-radius: 20px; /* Применение скругленных углов к изображению */
    object-fit: cover; /* Растягивание изображения, чтобы оно заполняло всю область без искажения */
    position: absolute; /* Абсолютное позиционирование внутри родительского элемента */
    top: 0; /* Поместить изображение вверху карточки */
    left: 0; /* Поместить изображение слева карточки */
}

.overlay-text {
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Прикрепляем текст к верхней границе карточки */
    left: 0; /* Прикрепляем текст к левой границе карточки */
    padding: 20px; /* Отступы для текста */
    color: white; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
}


.small-cards {
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Расстояние между большой и маленькими карточками */
}

.small-card1 {
    position: relative; /* Установка позиции относительно родительского элемента */
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 120px;
    overflow: hidden; /* Скрытие содержимого, выходящего за границы контейнера */
}

.small-card2 {
    position: relative; /* Установка позиции относительно родительского элемента */
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 120px;
    overflow: hidden; /* Скрытие содержимого, выходящего за границы контейнера */
}

.small-card1 img {
    position: absolute; /* Установка позиции абсолютно внутри .small-card */
    top: 0; /* Размещение изображения в верхнем левом углу .small-card */
    left: 0;
    width: 100%; /* Сделать изображение шириной 100% относительно .small-card */
    height: auto; /* Автоматическое определение высоты для сохранения пропорций */
    border-radius: 20px; /* Применение скругленных углов к изображению */
}

.small-card2 img {
    position: absolute; /* Установка позиции абсолютно внутри .small-card */
    top: 0; /* Размещение изображения в верхнем левом углу .small-card */
    left: 0;
    width: 100%; /* Сделать изображение шириной 100% относительно .small-card */
    height: auto; /* Автоматическое определение высоты для сохранения пропорций */
    border-radius: 20px; /* Применение скругленных углов к изображению */
}


/* Block 2 styles */
.block2 {
    margin-bottom: 20px;

}
.h2service {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    justify-content: center;
}

.service-card {
    height: 240px;
    width: 215px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.service-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
}


.price {
    position: absolute;
    top: 50%; /* Располагаем верхний край дива в центре по вертикали */
    left: 50%; /* Располагаем левый край дива в центре по горизонтали */
    transform: translate(-50%, -50%);

}

.details-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #16354d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%
}

.details-button:hover {
    background-color: #0056b3; /* Темнотинко-синий при наведении */
}

.service-name {
    background-color: #6b99c3;
    color: white;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

/* Block 3 styles */
.block3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.banner {
    height: 100px;
    width: 1000px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner img {
    max-width: 100%;
    border-radius: 20px;
}

/* Block 4 styles */
.block4 {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.h2block4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-card {
    text-align: center;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}




